.welcome-text {
  color: #4682B4;
  font-weight: bold;
}

.subtext {
  font-size: 1rem;
  color: #6c757d;
}

.custom-card {
  width: 360px;
  border: 1px solid #e0e0e0;
  overflow-y: auto;
  margin-top: 20px; /* Espacement au-dessus de la carte */
  margin-bottom: 20px; /* Espacement en dessous de la carte */
}

.custom-title {
  color: #4682B4;
}

.custom-label {
  color: #2F4F4F;
}

.custom-button {
  background-color: #4682B4;
  color: white;
}

.custom-link {
  font-size: 0.9rem;
}

/* Styles supplémentaires pour la validation */
.text-danger {
  font-size: 0.875rem;
}

/* Pour gérer la disposition du contenu */
html, body {
  height: 100%; /* Assure que la page prend toute la hauteur */
  margin: 0;
}

body {
  display: flex;
  flex-direction: column; /* Disposition en colonnes (header, main, footer) */
  min-height: 100vh; /* Le body prend toute la hauteur de l'écran */
}

main {
  flex: 1; /* Permet à la section principale de prendre tout l'espace restant */
}

/* Conteneur du composant de réinitialisation */
.background-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */
  height: calc(100vh - 60px); /* Laisse un espace en haut pour le header et en bas pour le footer */
  padding: 30px 0; /* Un peu de padding pour éviter que la carte ne touche directement les bords */
  box-sizing: border-box;
}

/* Ajustement des marges */
.d-flex {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  flex-direction: column;
  flex: 1;
}

.min-vh-100 {
  min-height: 100vh;
}

.mt-5 {
  margin-top: 3rem; /* Espacement supplémentaire si nécessaire */
}

.alert {
  padding: 1rem;
}
