<div class="background-container">
  <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
    <div class="text-center mb-4 mt-5"> <!-- Ajout de la classe mt-5 pour espacer du haut -->
      <h2 class="welcome-text">Réinitialisation du mot de passe</h2>
      <p class="subtext">Veuillez entrer votre nouveau mot de passe.</p>
    </div>

    <div class="card shadow-sm p-4 custom-card">
      <h4 class="text-center mb-4 fw-bold custom-title">Réinitialiser le mot de passe</h4>

      <!-- Affichage du message d'erreur -->
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>

      <!-- Confirmation de la réinitialisation -->
      <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>

      <!-- Formulaire de réinitialisation -->
      <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
        <div class="mb-3">
          <label for="newPassword" class="form-label custom-label">Nouveau mot de passe</label>
          <input
            type="password"
            id="newPassword"
            class="form-control"
            [(ngModel)]="newPassword"
            name="newPassword"
            placeholder="Entrez votre nouveau mot de passe"
            required
            #newPasswordInput="ngModel">
          <div *ngIf="newPasswordInput.invalid && newPasswordInput.touched" class="text-danger">
            Le mot de passe est obligatoire.
          </div>
        </div>

        <div class="mb-3">
          <label for="confirmPassword" class="form-label custom-label">Confirmer le mot de passe</label>
          <input
            type="password"
            id="confirmPassword"
            class="form-control"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            placeholder="Confirmez votre mot de passe"
            required
            [ngClass]="{'is-invalid': confirmPassword && confirmPassword !== newPassword && confirmPassword.length > 0}"
            #confirmPasswordInput="ngModel">
          <div *ngIf="confirmPassword && confirmPassword !== newPassword && confirmPassword.length > 0" class="text-danger">
            Les mots de passe ne correspondent pas.
          </div>
        </div>

        <button
          type="submit"
          class="btn w-100 mb-2 custom-button"
          [disabled]="resetPasswordForm.invalid || confirmPassword !== newPassword">
          Réinitialiser le mot de passe
        </button>
      </form>
    </div>
  </div>
</div>
