.navbar {
  background-color: #4682B4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-size: 1rem;
  color: white;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: black;
}
