html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F8F8FF;  /* Applique le fond à toute la page */
}

/* Conteneur principal pour appliquer le fond */
.background-container {
  min-height: 100%;  /* Assure que le conteneur prend toute la hauteur de la fenêtre */
  display: flex;
  flex-direction: column;
  background-color: #F8F8FF;  /* Applique la couleur de fond */
}
